*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: antiquewhite;
}
header{
    background-color: #238FEF;
}
footer{
    background-color: aquamarine;
}
table td{
    border: 1px solid
}